<header>
    <a href="/">
    <h1>Pokedex</h1>
    </a>
    <nav>
        <ol>
            <li>
                <a href="/pokemon/new">Add New Pokemon</a>
            </li>
        </ol>
    </nav>
</header>