<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body style="background-color: rgb(61, 125, 202); color: rgb(255, 203, 5)">
    <header>
        <a href="/">
            <h1>Pokedex</h1>
        </a>
    </header>
    <h2>Add A Pokemon</h2>
    <form action="/pokemon" method="post">
        Name: <input type="text" name="name"> <br>
        Image: <input type="text" name="img"> <br>
        ID: <input type="text" name="id"> <br>
        Type: <input type="text" name="type"> <br>
        Stats <br>
        hp: <input type="text" name="hp"> <br>
        attack: <input type="text" name="attack"> <br>
        defense: <input type="text" name="defense"> <br>
        spattack: <input type="text" name="spattack"> <br>
        spdefense: <input type="text" name="spdefense"> <br>
        speed: <input type="text" name="speed"> <br>
        <input type="submit" class="submit" value="Add Pokemon" /> <br>
    </form>
    
</body>

</html>